body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Segoe UI" !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

a{
    color: #080 !important;
}

.NotifyRequired {
    color: #f00;
    font-style: italic;
    font-weight: bold;
    padding-left: 8px;
}

.NotifyOK {
    color: #080;
    font-style: italic;
    font-weight: bold;
    padding-left: 8px;
}

.inputWide {
    width: 400px;
    padding: 4px;
    border: 1px solid #444;
    box-shadow: 0px 4px 17px #fa8;
}
