@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div style="    
    height: 0px;
    position: relative;
    right: 120px;
    top: 8px;
    ">
    <img src="~/images/cloca logo sm.png" />
</div>

<address>
    Central Lake Ontario Conservation Authority<br />
    100 Whiting Ave. <br />
    Oshawa, Ontario <br />
    L1H 3T3 <br /><br />
    <abbr title="Phone">P:</abbr>
    (905) 579-0411
</address>

<address>
    <strong>email:</strong> <a href="mailto:support@cloca.com">support@cloca.com</a><br />
</address>

