@{
    ViewData["Title"] = "Squirrels";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information about Squirrels.</p>
<img src="~/images/squirrel.jpg" />

